

{{ formVisible }}

<form (ngSubmit)="next()" name="form">
  
    <section class="panel" [hidden]="formVisible != 'SENDER'">
      <header class="panel-heading">
          <h4 class="text-primary">Remetente</h4>
      </header>
      <div class="panel-body">
            <div class="col-md-4 form-group">
                <label class="text-danger">
                    CNPJ <span class="text-danger">*</span> &nbsp;&nbsp; 
                    <a href="" ng-click="poFormCtrl.showModalSearchCustomer('R')" class="text-right">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </label>
                <input type="text" class="form-control input-lg" name="cpfCnpjSender" 
                    [(ngModel)]="purchase.customerAddressSender.people.cpfCnpj" maxlength="18" 
                    (blur)="findCustomerSenderByCpfCnpj(purchase.customerAddressSender.people.cpfCnpj)" 
                    ng-keyup="poFormCtrl.maskCnpjSender(poFormCtrl.cpfCnpjSender)">
            </div>
            <div class="col-md-8 form-group">
                <label class="text-danger">Razão Social </label>
                <input type="text" class="form-control input-lg" readonly="readonly" 
                      [(ngModel)]="customerSender.name" name="customerSenderName">
            </div>
            <div class="col-md-8 form-group">
                <label class="text-danger">Endereço <span class="text-danger">*</span></label>
                <select class="form-control input-lg" [(ngModel)]="addressSender" name="addressSender">
                    <option *ngFor="let a of addressesSender" [ngValue]="a">{{a.publicPlace+', '+a.number+' - '+a.neighborhood+' - '+a.city+' - '+a.state.abbreviation}}</option>
                </select> 
            </div>		
            <div class="col-md-4 form-group">
                <label class="text-danger">Telefone <span class="text-danger">*</span></label>
                <select class="form-control input-lg" [(ngModel)]="phoneSender" name="phoneSender">
                    <option *ngFor="let phone of phonesSender" [ngValue]="phone">{{phone.number+' - '+phone.contactType}}</option>
                </select>                 
            </div>		
            <button class="pull-right btn btn-primary" type="submit">
              Avançar <span class="glyphicon glyphicon-share-alt"></span>
            </button>                           
      </div>
    </section>
</form>

<form role="form" name="formD" (ngSubmit)="next()">
    
    <section class="panel" [hidden]="formVisible != 'RECIPIENT'">
             <header class="panel-heading">
                 <h4 class="text-primary">Destinatário</h4>
             </header>
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-4 form-group">
                         <label class="text-success">CNPJ <span class="text-danger">*</span>&nbsp;&nbsp; <a href="" ng-click="poFormCtrl.showModalSearchCustomer('D')" class="text-right"><span class="glyphicon glyphicon-search"></span></a></label>
                         <input type="text" class="form-control input-lg" name="cpfCnpjRecipient" 
                                [(ngModel)]="purchase.customerAddressRecipient.people.cpfCnpj" maxlength="18" 
                                (blur)="findCustomerRecipientByCpfCnpj(purchase.customerAddressRecipient.people.cpfCnpj)" 
                                ng-keyup="poFormCtrl.maskCnpjSender(poFormCtrl.cpfCnpjSender)">
                     </div>
                     <div class="col-md-8 form-group">
                         <label class="text-success">Razão Social</label>
                         <input type="text" class="form-control input-lg" readonly="readonly" 
                                [(ngModel)]="customerRecipient.name" name="customerRecipientName">
                     </div>
                     <div class="col-md-6 form-group">
                         <label class="text-success">Endereço <span class="text-danger">*</span></label>
                         <select class="form-control input-lg" [(ngModel)]="addressRecipient" name="addressRecipient">
                            <option *ngFor="let a of addressesRecipient" [ngValue]="a">{{a.publicPlace+', '+a.number+' - '+a.neighborhood+' - '+a.city+' - '+a.state.abbreviation}}</option>
                        </select> 
                     </div>			                                      
                     <div class="col-md-3 form-group">
                         <label class="text-success">Telefone <span class="text-danger">*</span></label>
                         <select class="form-control input-lg" [(ngModel)]="phoneRecipient" name="phoneRecipient">
                            <option *ngFor="let phone of phonesRecipient" [ngValue]="phone">{{phone.number+' - '+phone.contactType}}</option>
                        </select> 
                     </div>	
                     <div class="col-md-3 form-group">
                         <label class="text-success">Contato</label>
                         <input type="text" class="form-control input-lg" [(ngModel)]="purchase.contactRecipient" name="contactRecipient">
                     </div>		         
                   </div>
                   <div class="row">
                      <button class="btn btn-default" (click)="formVisible = 'SENDER'" type="button" >  
                        <span class="glyphicon glyphicon-arrow-left"></span> Voltar
                      </button>
                      <button class="pull-right btn btn-primary">
                         Avançar <span class="glyphicon glyphicon-share-alt"></span>
                      </button>                             		                                 
                 </div>
             </div>
    </section>
</form>


<form role="form" name="formSC" (ngSubmit)="next()">
    
    <section class="panel" [hidden]="formVisible != 'SHIPPING_COMPANY'">
             <header class="panel-heading">
                 <h4 class="text-primary">Transportadora</h4>
             </header>
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-4 form-group">
                         <label class="text-success">CNPJ <span class="text-danger">*</span>&nbsp;&nbsp; <a href="" ng-click="poFormCtrl.showModalSearchCustomer('D')" class="text-right"><span class="glyphicon glyphicon-search"></span></a></label>
                         <input type="text" class="form-control input-lg" name="cpfCnpjShippingCompany" 
                                [(ngModel)]="purchase.customerAddressShippingCompany.people.cpfCnpj" maxlength="18" 
                                (blur)="findCustomerShippingCompanyByCpfCnpj(purchase.customerAddressShippingCompany.people.cpfCnpj)" 
                                ng-keyup="poFormCtrl.maskCnpjSender(poFormCtrl.cpfCnpjSender)">
                     </div>
                     <div class="col-md-8 form-group">
                         <label class="text-success">Razão Social</label>
                         <input type="text" class="form-control input-lg" readonly="readonly" 
                                [(ngModel)]="customerShippingCompany.name" name="customerShippingCompanyName">
                     </div>
                     <div class="col-md-8 form-group">
                         <label class="text-success">Endereço <span class="text-danger">*</span></label>
                         <select class="form-control input-lg" [(ngModel)]="addressShippingCompany" name="addressShippingCompany">
                            <option *ngFor="let a of addressesShippingCompany" [ngValue]="a">{{a.publicPlace+', '+a.number+' - '+a.neighborhood+' - '+a.city+' - '+a.state.abbreviation}}</option>
                        </select> 
                     </div>			                                      
                     <div class="col-md-4 form-group">
                         <label class="text-success">Telefone <span class="text-danger">*</span></label>
                         <select class="form-control input-lg" [(ngModel)]="phoneShippingCompany" name="phoneShippingCompany">
                            <option *ngFor="let phone of phonesShippingCompany" [ngValue]="phone">{{phone.number+' - '+phone.contactType}}</option>
                        </select> 
                     </div>		         
                   </div>
                   <div class="row">
                      <button class="btn btn-default" (click)="formVisible = 'RECIPIENT'" type="button" >  
                        <span class="glyphicon glyphicon-arrow-left"></span> Voltar
                      </button>
                      <button class="pull-right btn btn-primary">
                         Avançar <span class="glyphicon glyphicon-share-alt"></span>
                      </button>                             		                                 
                 </div>
             </div>
    </section>
</form>


<form role="form" name="formPO" (ngSubmit)="next()" >
    
         <section class="panel" [hidden]="formVisible != 'PURCHASE'" >
             <header class="panel-heading">
                 <h4>Pedido</h4>
               </header>
               <div class="panel-body">
                     <div class="row" ng-show="poFormCtrl.purchaseOrder.id > 0">
                       <div class="col-md-2 form-group" >
                           <label class="text-primary">Numero <span class="text-danger">*</span></label>
                           <input type="text" class="form-control input-lg" readonly="readonly" [(ngModel)]="purchase.id" name="id">
                       </div>
                       <div class="col-md-3 form-group" >
                           <label class="text-primary">Data <span class="text-danger">*</span></label>
                           <input type="text" class="form-control input-lg" readonly="readonly" [(ngModel)]="purchase.createdDate" name="createdDate">
                       </div>
                 </div>
                 <div class="row">
                       <div class="col-md-3 form-group">
                           <label class="text-primary">Frete (Pagador) <span class="text-danger">*</span></label>
                           <select class="form-control m-b-10 input-lg" [(ngModel)]="purchase.typeFreight" name="typeFreight" required="required">
                                 <option value=""></option>
                                 <option value="SENDER">Remetente</option>
                                 <option value="RECIPIENT">Destinat&aacute;rio</option>
                           </select>			                                          		  	
                       </div>
                       <div class="col-md-5 form-group">
                           <label title="Condições de pagamento" class="text-primary">Condi&ccedil;&otilde;es Pagto <span class="text-danger">*</span></label>
                           <input type="text" class="form-control input-lg" [(ngModel)]="purchase.paymentsTerms" name="paymentsTerms" required="required">
                       </div>
                       <div class="col-md-4 form-group">
                           <label class="text-primary">Representante</label>
                           <input type="text" class="form-control input-lg" [(ngModel)]="purchase.representative" name="representative">
                       </div>					                                    
                 </div>
                 <div class="row">
                       <div class="col-md-12 form-group">
                           <label class="text-primary">Observa&ccedil;&atilde;o</label>
                           <input type="text" class="form-control input-lg" [(ngModel)]="purchase.remark"  name="remark">
                       </div>					                              
                 </div>
                 <div class="row">
                     <button (click)="formVisible = 'SHIPPING_COMPANY'" type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</button>
                     <button class="pull-right btn btn-primary">
                         Avan&ccedil;ar <span class="glyphicon glyphicon-share-alt"></span>
                     </button> 				                                    
                   </div>
             </div>
             
       </section>				                           
          
 </form>

<section class="panel" [hidden]="formVisible != 'ITENS'">
        <header class="panel-heading">
            <h4 >Produtos</h4>
        </header>
        <div class="panel-body">
            <form role="form" name="formProduct" (ngSubmit)="saveItem(item)" >
                <div class="col-md-2 form-group">
                    <label class="text-success">Cod. <span class="text-danger">*</span><span ng-show="poFormCtrl.productOK == true" class="glyphicon glyphicon-ok text-success"></span> </label>
                    <input required="required" class="form-control input-lg" [(ngModel)]="item.product.code" name="productCode" (blur)="findProductByCode(item.product.code)">
                </div>
                <div class="form-group col-md-5">
                    <label class="text-success">Descri&ccedil;&atilde;o <span class="text-danger">*</span>&nbsp;&nbsp; <a href ng-click="poFormCtrl.showModalSearchProduct(poFormCtrl.orderProduct.product.description)" class="text-right"><span class="glyphicon glyphicon-search"></span></a> </label>
                    <input required="required" class="form-control input-lg" [(ngModel)]="item.product.description" name="productDescription">
                </div>
                <div class="col-md-2 form-group">
                    <label class="text-success">Quantidade </label><span class="text-danger">*</span>
                    <input required="required" type="text" class="form-control input-lg" [(ngModel)]="item.amount" name="amount">
                </div>
                <div class="col-md-3 form-group">
                    <br/>
                    <button class="btn  btn-success " ng-disabled="formProduct.$invalid">Adicionar</button>  
                    <a href ng-click="poFormCtrl.showFormModalProduct()" class="btn  btn-info pull-right ">Novo Produto</a>

                </div>  
             </form>			                                      
             <table class="table table-bordered">
                  <tr>
                      <th class="text-center" style="width: 50px">Cod.</th>
                      <th class="text-center">Descri&ccedil;&atilde;o</th>
                      <th class="text-center" style="width: 100px">Valor Unit.</th>
                      <th class="text-center" style="width: 60px">Qtde</th>
                      <th class="text-center" style="width: 200px">Valor Total</th>
                      <th class="text-center" style="width: 40px"></th>
                  </tr>
                  <tr *ngFor="let item of purchase.ordersProducts">
                      <td class="text-center">{{ item.product.code }}</td>
                      <td>{{ item.product.description }}</td>
                      <td class="text-right">{{ item.valueUnit | currency }}</td>
                      <td class="text-center">{{ item.amount }}</td>
                      <td class="text-right">{{ item.valueUnit * item.amount | currency }}</td>
                      <td><button (click)="deleteItem(item)" ><span class="glyphicon glyphicon-trash text-danger"></span></button></td>
                  </tr>
                  <tfoot>
                      <tr>
                          <!--
                          <td colspan="5" class="text-right"> <b><span class="text-success">Total do Pedido:</span> {{ poFormCtrl.totalPO | currency }}</b> </td>
                          <td></td>
                          -->
                      </tr>			                                        
                  </tfoot>
              </table>
                
              <button (click)="formVisible = 'PURCHASE'" class="btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</button> 
              <button (click)="formVisible = 'OVERVIEW'" class="pull-right btn btn-primary">
                  Avan&ccedil;ar <span class="glyphicon glyphicon-share-alt"></span>
              </button>   
                                                             
        </div>
</section>


<section class="panel" [hidden]="formVisible != 'OVERVIEW'">
    <header class="panel-heading">
        <h2 class="text-warning">Deseja Efetivar Pedido ?</h2>
      </header>			                              	  
      <div class="panel-body">
              <div class="panel panel-info">
            <div class="panel-heading">Pedido</div>
            <div class="panel-body">
                  <div class="col-md-1 form-group">
                      <label class="text-primary">Numero</label>
                      <input type="text" class="form-control " disabled="disabled" value="{{purchase.id}}">
                  </div>
                  <div class="col-md-2 form-group">
                      <label class="text-primary">Data</label>
                      <input type="date" class="form-control" disabled="disabled" value="{{purchase.createDate}}">
                  </div>
                  <div class="col-md-2 form-group">
                      <label class="text-primary">Frete (Pagador)</label>
                      <input type="text" class="form-control" disabled="disabled" value="{{purchase.typeFreight == 'SENDER' ? 'Remetente' : 'Destinat&aacute;rio'}}">
                  </div>
                  <div class="col-md-3 form-group">
                      <label title="Condições de pagamento" class="text-primary">Condi&ccedil;&otilde;es Pagto</label>
                      <input type="text" class="form-control" disabled="disabled" [(ngModel)]="purchase.paymentsTerms" name="paymentsTerms">
                  </div>
                  <!--
                  <div class="col-md-3 form-group">
                      <label title="Representante" class="text-primary">Representante</label>
                      <input type="text" class="form-control" disabled="disabled" ng-model="poFormCtrl.purchaseOrder.representative">
                  </div>
                  <div class="col-md-5 form-group">
                      
                  </div>
                  <div class="col-md-12 form-group">
                      <label class="text-primary">Observa&ccedil;&atilde;o</label>
                      <input type="text" class="form-control" disabled="disabled" ng-model="poFormCtrl.purchaseOrder.remark">
                  </div>
          
              
                <div class="col-md-2 form-group">
                    <label class="text-danger">CNPJ Remetente</label>
                    <input type="text" class="form-control" value="{{poFormCtrl.cpfCnpjSender}}" disabled="disabled">
                </div>
                <div class="col-md-4 form-group">
                    <label class="text-danger">Raz&atilde;o Social Remetente</label>
                    <input type="text" class="form-control" readonly="readonly" value="{{poFormCtrl.nameSender}}">
                </div>
                <div class="col-md-4 form-group">
                    <label class="text-danger">Endere&ccedil;o Remetente</label>
                    <input type="text" class="form-control" readonly="readonly" 
                        value="{{poFormCtrl.purchaseOrder.customerAddressSender.publicPlace+', '+poFormCtrl.purchaseOrder.customerAddressSender.number+' - '+poFormCtrl.purchaseOrder.customerAddressSender.neighborhood+' - '+poFormCtrl.purchaseOrder.customerAddressSender.city+' - '+poFormCtrl.purchaseOrder.customerAddressSender.state.abbreviation}}">
                </div>		
                <div class="col-md-2 form-group">
                    <label class="text-danger">Telefone Remetente</label>
                    <input type="text" class="form-control" readonly="readonly" 
                        value="{{poFormCtrl.purchaseOrder.phoneSender}}">
                </div>	

                <div class="col-md-2 form-group">
                    <label class="text-success">CNPJ Destinat&aacute;rio</label>
                    <input type="text" class="form-control" value="{{poFormCtrl.cpfCnpjRecipient}}" disabled="disabled">
                </div>
                <div class="col-md-3 form-group">
                    <label class="text-success">Raz&atilde;o Social Destinat&aacute;rio</label>
                    <input type="text" class="form-control" readonly="readonly" value="{{poFormCtrl.nameRecipient}}">
                </div>
                <div class="col-md-3 form-group">
                    <label class="text-success">Endere&ccedil;o Destinat&aacute;rio</label>
                    <input type="text" class="form-control" readonly="readonly" 
                        value="{{poFormCtrl.purchaseOrder.customerAddressRecipient.publicPlace+', '+poFormCtrl.purchaseOrder.customerAddressRecipient.number+' - '+poFormCtrl.purchaseOrder.customerAddressRecipient.neighborhood+' - '+poFormCtrl.purchaseOrder.customerAddressRecipient.city+' - '+poFormCtrl.purchaseOrder.customerAddressRecipient.state.abbreviation}}">
                </div>		
                <div class="col-md-2 form-group">
                    <label class="text-success">Telefone Destinat&aacute;rio</label>
                    <input type="text" class="form-control" readonly="readonly" 
                        value="{{poFormCtrl.purchaseOrder.phoneRecipient}}">
                </div>	 
                <div class="col-md-2 form-group">
                    <label class="text-success">Contato no Destinat&aacute;rio</label>
                    <input type="text" class="form-control" readonly="readonly" 
                        value="{{poFormCtrl.purchaseOrder.contactRecipient}}">
                </div>	

                <div class="col-md-2 form-group">
                    <label class="text-warning">CNPJ Transportadora</label>
                    <input type="text" class="form-control" value="{{poFormCtrl.cpfCnpjShippingCompany}}" disabled="disabled">
                </div>
                <div class="col-md-4 form-group">
                    <label class="text-warning">Raz&atilde;o Social Transportadora</label>
                    <input type="text" class="form-control" readonly="readonly" value="{{poFormCtrl.shippingCompanyName}}">
                </div>
                <div class="col-md-4 form-group">
                    <label class="text-warning">Endere&ccedil;o Transportadora</label>
                    <input type="text" class="form-control" readonly="readonly" 
                        value="{{poFormCtrl.purchaseOrder.customerAddressShippingCompany.publicPlace+', '+poFormCtrl.purchaseOrder.customerAddressShippingCompany.number+' - '+poFormCtrl.purchaseOrder.customerAddressShippingCompany.neighborhood+' - '+poFormCtrl.purchaseOrder.customerAddressShippingCompany.city+' - '+poFormCtrl.purchaseOrder.customerAddressShippingCompany.state.abbreviation}}">
                </div>		
                <div class="col-md-2 form-group">
                    <label class="text-warning">Telefone Transportadora</label>
                    <input type="text" class="form-control" readonly="readonly" 
                        value="{{poFormCtrl.purchaseOrder.phoneShippingCompany}}">
                </div>	

                <table class="table table-bordered">
                      <tr>
                          <th class="text-center text-primary" colspan="5" >Produtos</th>
                      </tr>
                      <tr>
                          <th class="text-center" style="width: 50px">Cod.</th>
                          <th>Descri&ccedil;&atilde;o</th>
                          <th class="text-center" style="width: 100px">Valor Unit.</th>
                          <th class="text-center" style="width: 60px">Qtde</th>
                          <th class="text-center" style="width: 200px">Valor Total</th>
                      </tr>
                      <tr ng-repeat="item in poFormCtrl.ordersProducts">
                          <td class="text-center">{{ item.product.code }}</td>
                          <td>{{ item.product.description }}</td>
                          <td class="text-right">{{ item.valueUnit | currency }}</td>
                          <td class="text-center">{{ item.amount }}</td>
                          <td class="text-right">{{ item.valueUnit * item.amount | currency }}</td>
                      </tr>
                      <tfoot>
                          <tr>
                              <td colspan="5" class="text-right"> <b><span class="text-success">Total do Pedido:</span> {{ poFormCtrl.totalPO | currency }}</b> </td>
                          </tr>			                                        
                      </tfoot>
                  </table>
                -->
            </div>
          </div>	
          <div class="row"> 
                <button (click)="formVisible = 'ITENS'" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</button>
                <div class="pull-right">
                        <a href="${pageContext.request.contextPath}/purchase/{{purchase.id}}/print/pdf" target="_blank" class="btn btn-default">Pr&eacute;-visualiza&ccedil;&atilde;o do Pedido</a>
                        <button href (click)="next()" class="btn btn-success">
                            Efetivar
                        </button> 				                                    
                </div>
          </div>
              
    </div>
    
</section>	                                  

<section class="panel" [hidden]="formVisible != 'MESSAGE'"> 
<header class="panel-heading">
    <h2 class="text-primary">Pedido Concluído com sucesso!!!</h2>
  </header>
        <div class="row">
                <div class="col-md-offset-1">
                    <h2 class="text-success">Email enviado para:</h2> 
                    <h4>{{ purchase.customerAddressSender.people.email }}</h4>
                    <h4>{{ purchase.customerAddressRecipient.people.email }}</h4>
                </div>
        </div>
    <div class="row">
        <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Inicio</a>
        <a href="/novo-pedido" class="btn btn-default"><span class="glyphicon"></span> Novo Pedido</a>
      </div>
</section>	
