<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
          <!--<img src="http://extranet.dellavolpe.com.br:6917/presencacarga/tdvbootstrap/img/logo-tdv.png" height="30px" alt="Rapido"/>-->
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/" ng-click="active = 'PO'">
            <i class=""></i>
            <span class="hidden-sm">Pedido</span>
          </a> 
        </li> 
        <li>
          <a href="/produtos" ng-click="active = 'PRODUCT'">
            <i class=""></i>
            <span class="hidden-sm">Produtos</span>
          </a> 
        </li>     
        <li>
          <a href="/clientes" ng-click="active = 'CUSTOMER'">
            <i class=""></i>
            <span class="hidden-sm">Clientes/Fornecedores/Outros</span>
          </a> 
        </li>              
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>

<br/><br/><br/>

<div class="container">
  <router-outlet></router-outlet>
</div>