<!-- Main content -->
<section class="content">
    <div class="row">                      
        <div class="panel">
            <header class="panel-heading badge bg-green">
                Pedidos
            </header>
            <div class="panel-body"> 
                <select ng-model="poListCtrl.search.status" ng-options="s.status as s.display for s in poListCtrl.statusList"></select>	                                 
                <input type="date" ng-model="poListCtrl.search.dateStart" maxlength="10" size="12" class="datepicker" > &aacute; 
                <input type="date" ng-model="poListCtrl.search.dateEnd" maxlength="10" size="12" class="datepicker">
                <a href ng-click="poListCtrl.searchAdv(poListCtrl.search.status, poListCtrl.search.dateStart, poListCtrl.search.dateEnd)" class="btn btn-default">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
                <a href ng-click="poListCtrl.showModalFilter()" class="btn btn-default">
                  <span class="glyphicon glyphicon-filter"></span>
                </a>
                <a href="/novo-pedido" class="btn btn-success pull-right">Novo</a>
                
                <br/><br/> 

                <div class="table-responsive">
                      <table class="table table-bordered">
                          <tr class="text-danger">
                              <th rowspan="2" class="text-center" style="width: 10px">N&uacute;mero</th>
                              <th rowspan="2" class="text-center">Data</th>
                              <th rowspan="2" class="text-center">Status</th>
                              <th colspan="2" class="text-center">Remetente</th>
                              <th colspan="2" class="text-center">Destinat&aacute;rio</th>
                              <th rowspan="2" class="text-center">Transportadora</th>
                              <th rowspan="2" class="text-center"></th>
                          </tr> 
                          <tr class="text-muted"> 
                              <th class="text-center">Raz&atilde;o</th>
                              <th class="text-center">CNPJ</th>
                              <th class="text-center">Raz&atilde;o</th>
                              <th class="text-center">CNPJ</th>
                          </tr>
                          <tbody>
                              <tr *ngFor="let po of purchaseOrders">
                                    <td >{{ po.id }}</td>
                                    <td>{{ po.createdDate }}</td>
                                    <td>{{ po.status }}</td>
                                    <td>{{ po.customerAddressSender.people.name }}</td>
                                    <td>{{ po.customerAddressSender.people.cpfCnpj }}</td>
                                    <td>{{ po.customerAddressRecipient.people.name }}</td>
                                    <td>{{ po.customerAddressRecipient.people.cpfCnpj }}</td>
                                    <td>{{ po.customerAddressShippingCompany.people.name }}</td>
                                    <td>
                                        <a [routerLink]="['/novo-pedido', po.id]">Editar</a>
                                    </td>
                                <!--
                                  <td class="text-center">
                                    <a ng-show="po.status == 'completed' || po.status == 'canceled'" href="#/pedido/edit/{{po.id}}">{{ po.id }}</a>
                                    <a ng-show="po.status == 'pending'" href="#/pedido/{{po.id}}">{{ po.id }}</a>
                                  </td>
                                  <td class="text-center">{{ po.emissionDate | date:'dd/MM/yyyy' }}</td>
                                  
                                  <td class="text-center">
                                    <span ng-show="po.status == 'pending'" class="label label-warning">Pendente</span>
                                    <span ng-show="po.status == 'completed'" class="label label-default">Conclu&iacute;do</span>
                                    <span ng-show="po.status == 'canceled'" class="label label-danger">Cancelado</span>
                                  </td>
                                  <td>{{ po.customerAddressSender.people.name }}</td>
                                  <td class="text-center">{{ po.customerAddressSender.people.cpfCnpj }}</td>
                                  <td>{{ po.customerAddressRecipient.people.name }}</td>
                                  <td class="text-center">{{ po.customerAddressRecipient.people.cpfCnpj }}</td>
                                  <td>{{ po.shippingCompany.name }}</td>
                                  <td class="text-center"> 
                                    <a href ng-click="poListCtrl.deletePO(po)" ng-show="po.status == 'pending'" title="Excluir Pedido"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                                    <a href="#/pedido/edit/{{po.id}}" ng-show="po.status == 'completed' || po.status == 'canceled'" title="Visualizar/Editar Pedido"><span class="glyphicon glyphicon-share-alt text-info"></span></a> 
                                    <a href="${pageContext.request.contextPath}/purchaseorder/{{po.id}}/print/pdf" ng-show="po.status == 'completed'" title="Imprimir" target="_blank"><span class="glyphicon glyphicon-print text-muted"></span></a> 
                                  </td>
                                -->
                              </tr>
                          </tbody>
                      </table>
                </div>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->                        
                      
    </div><!-- /.row -->

</section>    